:root {
  --card-color: #111111;
  --font-color: #818181;
}

.Services {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 414px);
  grid-template-rows: repeat(2, 930px);
  margin-bottom: 50px;
}

.Services--title {
  font-size: 50px;
  text-align: center;
}

.Services--container__title {
  font-size: 24px;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px 50px 0px;
}

.Services--container__img {
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.Services--info {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  color: var(--font-color);
  letter-spacing: 1px;
  line-height: 28px;
}

.Services--info__ul {
  text-align: start;
}

.Services--info__button {
  height: 45px;
  width: 300px;
  border: none;
  border-radius: 6px;
  margin-top: 12px;
  font-size: 14px;
}

.Services--img {
  width: 300px;
}

/* HOJA DE DATOS DE SISTEMAS ORGANICOS */

.Datos--title {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

.Datos--cards {
  display: flex;
  justify-content: center;
}

.Datos--card {
  width: 360px;
  height: 100px;
  padding: 24px;
  background-color: var(--card-color);
  border: 1px solid #171717;
}

.Datos--card__p {
  text-align: center;
  font-size: 18px;
}

.Datos--card__button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.Datos--card__a {
  height: 30px;
  background-color: white;
  width: 135px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Datos--card__button a {
  border: none;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

#card1 {
  margin-right: 30px;
}

#card2 {
  margin-left: 30px;
}

#img1 {
  margin-right: 5px;
}

#img2 {
  margin-left: 5px;
}

.Datos--img {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}
