/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #000000;
  --white-color: #ffffff;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color);
  color: var(--white-color);
  font-family: Poppins, arial, sans-serif;
}

.App {
  max-width: 1300px;
  padding: 0px 15px;
  margin: 0px auto;
}
